{
  "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y", "prettier", "simple-import-sort"],
  "parser": "@typescript-eslint/parser",
  "settings": {},
  "env": {
    "jest": true
  },
  //   "overrides": [
  //     {
  //       "files": ["**/*.ts", "**/*.tsx"],
  //       "parserOptions": {
  //         "project": "./tsconfig.json"
  //       }
  //     }
  //   ],
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
