@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.menu-item-light {
  @apply bg-dark-500 text-light text-lg;
}

/* HexButton.css */
/*
.hex-button {
  position: relative;
  clip-path: polygon(17% 0%, 83% 0%, 100% 50%, 83% 100%, 17% 100%, 0% 50%);
}
*/

.hex-button {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.btn-scroll-to-top:hover .arrow-white {
  @apply block;
}
.btn-scroll-to-top:hover .arrow-gray {
  @apply hidden;
}
